<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <!-- This is Header Section Start -->
            <div class="row" style="background-color: #4fa6d3;  height: 110px; ">
                <div class="col-sm-2"></div>
                <div class="col-sm-1"><img src="~/Images/hospital.png" style="width:50px;height:50px;" /><b style="color:snow;">HOSPITAL MANAGEMENT SYSTEM</b></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2" style="color:snow;">
                    <p>
                        Support 9Am To 9Pm
                    </p>
                    <img src="~/Images/smartphone.png" style="width:50px;height:50px" />8106239888
                </div>
                <div class="col-sm-2"></div>




            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row" style="height:200px;">
                        <div class="col-sm-12">

                        </div>

                    </div>
                </div>
            </div>

            @RenderBody()
            <!-- This is Content Section End -->
            <!-- This is Footer Section Start -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="row" style="background-color: #4fa6d3;">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4" style="color:white;font-size:20px;">CopyRights <a href="https://www.HMS.com">https://www.HMS.com</a></div>
                        <div class="col-sm-1"><a href="https://www.facebook.com"><img src="~/Images/FB.png" /></a></div>
                        <div class="col-sm-1"><a href="https://www.twitter.com"><img src="~/Images/IN.png" /></a></div>
                        <div class="col-sm-1"><a href="https://www.instagram.com"><img src="~/Images/TW.png" /></a></div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
            <!-- This is Footer Section End -->
        </div>
    </div>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>