
@{
    ViewBag.Title = "Login";
}



<div class="row"  >
    <div class="col-sm-2"></div>
</div>
<div class="row" style="margin-bottom:50px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <h4 style="color:red">India's 1st Integrated Digital HealthCare Platform</h4>

        <p style="margin-top:30px">
            <img src="~/Images/access.png" style="width:30px;height:30px;" />
            <strong>Easy Access</strong>

        </p>
        <p>Access your Pharmacy from anywhere and any time</p>


        <p style="margin-top:30px"><img src="~/Images/globe.png" style="width:30px;height:30px; " />
        <strong>Digital Communication</strong></p>
        
        <p>Receive Prescription via customer mobile Application and Doctor Application</p>

        <p style="margin-top:30px"><img src="~/Images/happy.png" style="width:30px;height:30px;" />
        <strong>Grow Together</strong></p>
        
        <p>Connect with Doctors and Customers</p>

    </div>

    <div class="col-sm-4" style="background-color:lightblue; ">
        <h3 style="color:green;" margin-top:100px;>Sign In To Continue</h3>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email *" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Your Password *" value="" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>
            <div class="form-group">

                <a href="#" class="ForgotPwd" value="Forgot Password" style="color:red;">Forgot Password?</a>
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>

</div>

